html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #171919;
  text-transform: uppercase;
}
ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

h2,h3,h4,h5,h6{
  margin: 0;
}

.container{
  max-width: 1920px;
  margin: 0 auto;
}

.headline-left{
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  opacity: 0.5;
  position: relative;
  margin: 0;
  padding-left: 103px;
  display: inline-block;
  &::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 80px;
    left: 0;
    top: 50%;
    background-color: #FFFFFF;
  }
}
.slider-arrows{
  position: absolute;
  top: 40px;
  z-index: 2;
  &__left{
    right: 125px;
  }
  &__right{
    right: 80px;
  }
}

.title{
  position: relative;
  display: inline-block;
  span{
    display: inline-block;
    transform: translateX(-50px);
    right: 20px;
    font-weight: 800;
    font-size: 200px;
    color: rgba(#fff, 0.02);
  }
  h3{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 800;
    font-size: 80px;
    line-height: 1;
    color: #fff;
    &::before{
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      height: 2px;
      width: 80px;
      background-color: $green;
    }
  }
}

.title-section{
  font-size: 40px;
  font-weight: 800;
}

.subtitle{
  text-align: right;
  display: inline-block;
  &__head{
    padding-right: 10px;
  }
  .thin-text{
    font-weight: 100;
  }
}

.btn{
  font-weight: 800;
  font-size: 40px;
  line-height: 1.2;
  span{
    display: inline-block;
    background-color: $green;
    padding: 17px 57px 15px 17px;
    position: relative;
    margin-left: 19px;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      left: -10px;
      top: 50%;
      background-color: #fff;
    }
    &::after{
      width: 24px;
      height: 20px;
      position: absolute;
      right: 17px;
      z-index: 3;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      background-image: url('../img/arrow-right.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}